<label name="post[title]"for="">Title</label>
<input type="text" name="post[title]">

<label name="post[body]"for="">Body</label>
<textarea name="post[body]"></textarea>

<label >Post Photo</label>
<button class="btn filepicker">Choose Image</button>

<button class="submit">Submit</button>
