
<div class="login">
  <h1>New User</h1>

  <%= render "shared/errors" %>

  <form action="<%= users_url %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <div class="form-group">
      <input type="text"
             name="user[username]"
             id="user_username"
             placeholder="username">
    <div>

    <div class="form-group">
      <input type="text"
             name="user[email]"
             id="user_email"
             placeholder="email">
    <div>

    <div class="form-group">
      <input type="password"
             name="user[password]"
             id="user_password"
             placeholder="password">
    <div>

    <input type="submit">
  </form>
</div>
