<% if flash[:errors] %>
  <div class="row error-row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <% flash[:errors].each do |error| %>
        <pre class="error-message"><%= error %></pre>
        <!-- <div class="alert alert-danger" role="alert"><%= error %></div> -->
      <% end %>
    </div>
  </div>
<% end %>
