<label name="blog[title]"for="">Title</label>
<input type="text" name="blog[title]">

<label >Blog Photo</label>
<button class="btn filepicker">Choose Image</button>

<button class="submit">Submit</button>
