<label name="blog[title]"for="">Title</label>
<input type="text" name="blog[title]">

<label >Blog Photo</label>
<input
  type="filepicker"
  data-fp-mimetype="image/*"
  name="blog[filepicker_url]"
  data-fp-button-text="Choose Image"
  data-fp-button-class="btn-default">

<button class="submit">Submit</button>
