<% if (blog.escape("filepicker_url")) { %>
  <img src="<%= blog.escape("filepicker_url") %>" alt="" />
<% } %>

<strong>Blog Title: <%= blog.get("title") %></strong>



<div class="blog-posts">

</div>

<div class="post-form">

</div>
