<div class="blog-heading-info">

  <div class="blog-box-left">
    <div class="blog-author-show">
      <%= blog.escape("author") %>'s blog
    </div>
  </div>

  <div class="blog-box-right">
    <div class="blog-title">
      <%= blog.get("title") %>
    </div>

    <div class="follow-button">
      <% if(blog.get("user_id") != Grumblr.currentUser.id){ %>
        <button
        data-follow-state="<%= blog.get("followed") === true ? "following" : "unfollowed" %>"
        class="follow follow-btn btn btn-primary"
          ><%= blog.get("followed") === true ? "Unfollow" : "Follow" %></button>
      <% } %>
    </div>
  </div>

</div>

<div class="clear-line">

</div>

<div class="blog-posts">

</div>
