<% if (blog.escape("filepicker_url")) { %>
  <img src="<%= blog.escape("filepicker_url") %>" alt="" />
<% } %>

<strong>Blog Title: <%= blog.get("title") %></strong>


<% if(blog.get("user_id") != Grumblr.currentUser.id){ %>
  <button
  data-follow-state="<%= blog.get("followed") === true ? "following" : "unfollowed" %>"
  class="follow"
    ><%= blog.get("followed") === true ? "Unfollow" : "Follow" %></button>
<% } %>


<div class="blog-posts">

</div>

<div class="post-form">

</div>
