<div class="nav-box">

  <div class="inner-nav-option">
    <div class="nav-icon">
      <span class="glyphicon glyphicon-th"></span>
    </div>
    <a id="all-blogs nav-text" href="#allblogs">All Blogs</a>
  </div>

  <div class="inner-nav-option">
    <div class="nav-icon">
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <a id="my-blog" href="#" >My Blog</a>
  </div>

  <div class="inner-nav-option">
    <div class="nav-icon">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <a href="#/feed">Feed</a>
  </div>

  <div class="inner-nav-option">
    <div class="nav-icon">
      <span class="glyphicon glyphicon-pencil"></span>
    </div>
    <a id="new-post" href="#">New Post</a>
  </div>

  <div class="inner-nav-option">
    <div class="nav-icon">
      <span class="glyphicon glyphicon-off"></span>
    </div>
    <a id="logout" href="#">Logout</a>
  </div>

</div>
