<div class="col-md-6 col-md-offset-3">
  <div class="nav-box">
    <div class="row nav-inner-buffer">
      <div class="col-sm-12">
        <div class="col-sm-2">
          <div>
            <span class="glyphicon glyphicon-th"></span>
          </div>
          <a id="all-blogs" href="#allblogs">All Blogs</a>
        </div>

        <div class="col-sm-2">
          <div>
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <a id="my-blog" href="#" >My Blog</a>
        </div>

        <div class="col-sm-2">
          <div>
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <a href="#/feed">Feed</a>
        </div>

        <div class="col-sm-2">
          <div>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
          <a id="new-post" href="#">New Post</a>
        </div>

        <div class="col-sm-2">
          <div name="dog">
            <span class="glyphicon glyphicon-sunglasses"></span>
          </div>
          <a href="https://wnursports.files.wordpress.com/2013/05/tumblr_li7un4ifyi1qeb0lyo1_400.jpg
          ">Sad Puppy</a>
        </div>

        <div class="col-sm-2">
          <div>
            <span class="glyphicon glyphicon-off"></span>
          </div>
          <a id="logout" href="#">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
