
<div id="nav-box">

  <div class="col-md-1 col-md-offset-3">
    <a id="all-blogs" href="#allblogs">All Blogs</a>
  </div>

  <div class="col-md-1">
    <a id="my-blog" href="#" >My Blog</a>
  </div>

  <div class="col-md-1">
    <a href="#/feed">Feed</a>
  </div>

  <div class="col-md-1">
    <a id="new-post" href="#">New Post</a>
  </div>

  <div class="col-md-1">
    <div name="superdoggy">
      <span class="glyphicon glyphicon-tree-deciduous"></span>
    </div>
    <a href="https://wnursports.files.wordpress.com/2013/05/tumblr_li7un4ifyi1qeb0lyo1_400.jpg
    ">Puppy</a>
  </div>

  <div class="col-md-1">
    <a id="logout" href="#">Logout</a>
  </div>

</div>
