<div class="everything container-fluid">

    <div id="top-bar">
      <div id="username-display">
        <%= current_user.username %>
      </div>
      <div id="site-name">
        GrumpyPants
      </div>
    </div>


    <div id="nav">
    </div>

    <div id="content">
    </div>

    <script>
      $(document).ready(function(){
        Grumblr.currentUser = JSON.parse('<%= current_user.to_json({:only => [:id, :email], methods: [:blog_id, :blog_pic]}).html_safe %>');
        Grumblr.initialize();
      });
    </script>

</div>
