<nav id="nav">

</nav>
<div id="content">

</div>

<script>
  $(document).ready(function(){
    Grumblr.currentUser = JSON.parse('<%= current_user.to_json.html_safe %>');
    Grumblr.initialize();
  });
</script>
