<div class="container-fluid">

  <% if current_user.nil? %>
    <%= link_to "Sign in", new_session_url %> or
    <%= link_to "Sign up", new_user_url %>
  <% else %>
    <div id="top-bar">
      <div id="username-display">
        <%= current_user.username %>
      </div>
      <div id="site-name">
        GrumpyPants
      </div>
    </div>


    <div id="nav">
    </div>

    <div id="content">
    </div>

    <script>
      $(document).ready(function(){
        Grumblr.currentUser = JSON.parse('<%= current_user.to_json.html_safe %>');
        Grumblr.initialize();
      });
    </script>
  <% end %>

</div>
``
