/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

// General

// .errythang{
//   background-color: #35465c;
// }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.login {
  display: table;
  height: auto;
  text-align: center;
  width: 400px;
  // margin: 0 auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-style: solid;
  border-color: grey;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;        // Make inputs at least the height of their button counterpart
}

.inner-login{
  width: 300px;
  margin: 0 auto;
}

img.blog-img{
  max-height: 50px;
  max-width: 50px;
}


// modal

.modal-dialog{
  margin-top: 150px;
}



// post show

.post-title{
  font-size: 30px;
  margin-bottom: 10px;

}

.post-box{
  border: solid;
  background-color: lightpink;
  border-radius: 3px;
}

.post-inner-buffer{
  margin-top: 10px;
  margin-bottom: 10px;

}

.total-post{
  margin-bottom: 30px;
}

.post-img{
  // set max width to column boundaries
  max-width: 100%;
  margin-bottom: 10px;
}

.blog-img{
  max-width: 100%;
}


// Navigation

.nav-fun{
  text-align: center;
}

#nav-box{
  // border: solid;
}

#nav{
  padding-top: 50px;
}

// top root page

#top-bar{
  border-bottom: solid;
  border-color: lightgrey;
}

#username-display{
  float: right;
}

#site-name{
  font-size: 40px;
}
