/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


// General

// .errythang{
//   background-color: #35465c;
// }

// blog show

.blog-heading-info{
  min-height: 100px;
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}

.blog-title{
  font-size: 50px;

}

.blog-author-show{
  font-size: 15px;
}

.blog-inner-box{
  margin: 30px;
}

.follow-button{
  // float: right;
}

// .blog-profile-pic-box{
//   height: 100px;
//   width: 100px;
//   border: solid;
// }
//
// .blog-profile-pic{
//   width: 100%;
// }

// login pages

.login {
  display: table;
  height: auto;
  text-align: center;
  width: 400px;
  // margin: 0 auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-style: solid;
  border-color: grey;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;        // Make inputs at least the height of their button counterpart
}

.inner-login{
  width: 300px;
  margin: 0 auto;
}

// img.blog-img{
//   max-height: 50px;
//   max-width: 50px;
// }


// modal

.modal-dialog{
  margin-top: 150px;
}


// blog form
.vertical-offset-100{
    padding-top:100px;
}

.input-blog-title{
  min-height: 40px;
  font-size: 20px;
}

.panel-heading{
  height: 60px;
}

.panel-title{
  font-size: 30px;
  text-align: center;
}

// post show
.post-show-container{
  min-height: 110px;
  width: 700px;
  margin: 0 auto;
}

.blog-info-for-post{
  float:right;
}

.post-box-left{
  float: left;
  width: 100px;
}

.post-box-right{
  float: left;
  border: solid;
  width: 600px;
  background-color: lightblue;
  border-radius: 5px;
  margin-bottom: 26px;
}

.blog-author{
  padding: 5px;
}

.blog-pic-for-post{
  width: 50px;
  height: 50px;
  margin: auto 0;
}

.post-title{
  font-size: 30px;
  margin-bottom: 10px;
}

.post-inner-box{
  margin: 10px;
}

.post-img{
  // set max width to column boundaries
  max-width: 100%;
  margin-bottom: 10px;
}

.blog-img{
  max-width: 100%;
}


// Navigation

.nav-fun{
  height: 100px;
  margin-left: auto;
  margin-right: auto;

}

.nav-box{
  width: 700px;
  height: 90px;
  display: block;
  display: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-inner-buffer{
  margin: 15px;
}

.inner-nav-option{
  float: left;
  // margin: 10px;
  width: 16%;
  text-align: center;
}

#nav{
  padding-top: 25px;
  padding-bottom:25px;
}

.glyphicon{
  font-size: 50px;
  color: black;
}

.nav-icon{
  margin: 15px auto;
  width: 50px;
  height: 50px;
}

a#nav{
  margin: auto;
  width: 50%;
  margin-top: 10px;
}

// top root page

#top-bar{
  border-bottom: solid;
  border-color: lightgrey;
}

#username-display{
  float: right;
}

#site-name{
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  // font-family: 'Scada', sans-serif;
  // font-family: 'Arvo', serif;
}

// all blogs page

.blog-img-all-blogs{
  max-width: 100%;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-column{
  margin-top: 30px;
  margin-bottom: 30px;
}

// body {padding-top:50px;}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
