// login pages

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  // opacity: 0.9;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.web-title{
  // text-align: center;
  font-size: 75px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.site-description{
  // text-align: center;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;

}

.form-container{
  padding-top:30px;
}

.login-container{
  margin-top: 5%;
  // margin-bottom: 7%;
  text-align: center;
  // border: 1px solid black;
  border-color: black;
  color: white;
  // background: rgba(200, 191, 195, .7);
  // opacity: 0.7;
  text-shadow: 1px 1px grey;

}

.subtitle-span{
  margin-right: 30px;
}

.site-description-first-line{
  min-height: 50px;
}

.login-signup-button{
  margin-top: 20px;
}
